$gray: #999999;
$font-gray: #45413e;
$semi-gray: #00000066;
$primary-accent: #000000;
$secondary: #ffffff;
$warn-red: #ff0000;
$transition-duration: color 250ms linear, border-color 250ms linear,
  background-color 250ms linear;
